body{
    background-color: #455681;
}

.navbar {
    background-color:#455681; 
    font-family:Lucida Bright;
    justify-content: left;
    text-align: center;
}

a.nav-link.Home {
    justify-content: right;
    text-align: right;
    color:white; 
    font-size:25px;
}

a.nav-link.dropdown-toggle {
    color:white; 
    font-size:25px;
}

a.nav-link {
    color:white; 
    font-size:25px
}

div#mel-home {
    color:white; 
    font: size 10px;
}

