body{
    background-color: white;
}

.navbar {
    background-color:#455681; 
    font-family:Lucida Bright;
    justify-content: left;
    text-align: center;
}

a.nav-link.Home {
    justify-content: right;
    text-align: right;
    color:white; 
    font-size:25px;
}

a.nav-link.dropdown-toggle {
    color:white; 
    font-size:25px;
}

a.nav-link {
    color:white; 
    font-size:25px
}

div#mel-home {
    color:black; 
    font-size: 20px;
    margin-top: auto;
    margin-inline-start: 7%;
    margin-inline-end: 7%;
}

h1 {
    background-color: #455681;
    color: white;
    border-radius: 7px
}


