h1 {
    color: blueviolet;
}

body{
    background-color: #B7C8D6;
}

.navbar {
    background-color:#455681; 
    font-family:Lucida Bright;
    justify-content: left;
    text-align: center;
}

a.nav-link.Home {
    justify-content: right;
    text-align: right;
    color:white; 
    font-size:25px;
}

a.nav-link.dropdown-toggle {
    color:white; 
    font-size:25px;
}

a.nav-link {
    color:white; 
    font-size:25px
}

ul#cardsR {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    margin: 20px;
}

div#CardP.card {
    margin: 40px;
}

div#cardsR {
    display: block;
}